$primary: #0b76c5;
$secondary: #f3ce56;
$tertiary: #1b65a4;

$white: #ffffff;
$black: #000000;
$green: #00874d;
$green-dark: #006e3e;

$gray-light: #fefefe;
$gray-medium: #a9a9a9;
$gray: #808080;

$link-color: #0064c8;

$font-family: 'Open Sans', Helvetica, Arial, sans-serif;
$font-size-base: 1rem;
$font-size-small: 0.85rem;
$font-size-medium: 1.5rem;
$font-size-large: 2rem;
$font-size-x-large: 2.25rem;

$heading-font-family: 'Ubuntu', Helvetica, Arial, sans-serif;

$padding-base: 1rem;
$padding-tiny: 0.25rem;
$padding-small: 0.5rem;
$padding-medium: 2rem;
$padding-large: 3rem;

$margin-base: 1rem;
$margin-tiny: 0.25rem;
$margin-small: 0.5rem;
$margin-medium: 2rem;
$margin-large: 3rem;

$border-radius-base: 0.25rem;

$form-label-color: #444444;
